body {
  color: black;
  font-size: 12pt;
  margin: 0px auto 0px auto;
  width: 600px;
}

div#header {
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  padding: 12px 0px 12px 0px;
  font-size: 14pt;
  font-weight: bold;
}

div#header #switcher {
  font-size: 11pt;
}

div#logo a {
  color: black;
  float: left;
  text-decoration: none;
}

div#header #navigation {
  text-align: right;
}

div#header #navigation a {
  color: black;
  margin-left: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

div#footer {
  border-top: solid 2px black;
  color: #555;
  margin-top: 30px;
  padding: 12px 0px 12px 0px;
  text-align: right;
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
}

div.info {
  color: #555;
  font-size: 14px;
  font-style: italic;
}
