<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$ - $trans mBlogTitle$</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <a href="/">$trans mBlogTitle$</a>
      </div>
      <div id="navigation">
        <a href="/index$curlang$.html">$trans mStartPage$</a>
        <a href="/contact$curlang$.html"> $trans mContactInNavbar$</a>
        <!--a href="/archive$curlang$.html">$trans mArchiveTitle$</a-->
      </div>
      <div id="switcher">
        <a href="/index.html">In English</a>
        <a href="/index-hu.html">Magyarul</a>
      </div>
    </div>

    <div id="content">
      <h1>$title$</h1>
      $body$
    </div>

    <div id="footer">
      $trans mSiteGeneratedBy$
      <a href="http://jaspervdj.be/hakyll">Hakyll</a>
    </div>
  </body>
</html>
